<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <header>
    <a href="#" class="logo">
      <img src="../public/img/logo.png" alt="logo de la web">
      <h2 class="nombre-web">NutriStack</h2>
    </a>
    <nav>
      <a href="" class="nav-link">Inicio</a>
      <a href="" class="nav-link">Planes</a>
      <a href="" class="nav-link">Menus</a>
      <a href="" class="nav-link">Productos</a>
    </nav>
  </header>
  <img class="imagen-header" src="../public/img/inicio-header.png" alt="imagen de presentación">
  <section class="inicio-bento">

    <figure>
      <img src="../public/img/vegan.png" alt="plato vegano">
      <div class="capa">
        <h3>SALUD Y COMODIDAD</h3>
        <p>¡A SOLO UN CLICK DE DISTANCIA!</p>
        <img src="../public/img/cubiertos.png" alt="logo de cubiertos">
      </div>
    </figure>
    <figure>
      <img src="../public/img/ensalada.png" alt="plato de ensalada">
      <div class="capa">
        <h3>MENÚ VEGGIE</h3>
        <p>¡DESCUBRE NUESTROS PLATOS!</p>
        <img src="../public/img/cubiertos.png" alt="logo de cubiertos">
      </div>
    </figure>
    <figure>
      <img src="../public/img/keto.png" alt="plato de dieta keto">
      <div class="capa">
        <h3>MENÚ KETO</h3>
        <p>¡DESCUBRE NUESTROS PLATOS!</p>
        <img src="../public/img/cubiertos.png" alt="logo de cubiertos">
      </div>
    </figure>
    <section class="detalles-menu">
      <h3>¿Que ofrecemos?</h3>
      <ul>
        <li>Menús a la carta</li>
        <li>Menús personalizados</li>
        <li>Envíos gratis</li>
        <li>App y asesoramiento nutricional</li>
      </ul>
      <button class="boton tipo1">
        <span class="btn-txt">¡Quiero saber más!</span>
      </button>
    </section>
  </section>
  <div class="fondo2"></div>
</body>

</html>