<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <header>
    <a href="#" class="logo">
      <img src="../public/img/logo.png" alt="logo de la web">
      <h2 class="nombre-web">NutriStack</h2>
    </a>
    <nav>
      <a href="" class="nav-link">Inicio</a>
      <a href="" class="nav-link">Planes</a>
      <a href="" class="nav-link">Menus</a>
      <a href="" class="nav-link">Productos</a>
    </nav>
  </header>
  <img class="imagen-header" src="img/inicio-header.png" alt="">
  <section class="inicio-bento">

    <img src="../public/img/vegan.png" alt="">
    <img src="../public/img/ensalada.png" alt="">
    <img src="../public/img/keto.png" alt="">
    <article class="detalles-menu">
      <ul>
        <li>Menús a la carta</li>
        <li>Menús personalizados</li>
        <li>Envíos gratis</li>
        <li>App y asesoramiento nutricional</li>
      </ul>
      <button class="boton tipo1">
        <span class="btn-txt">¡Quiero saber más!</span>
      </button>
    </article>
  </section>
  <div class="fondo2"></div>
</body>

</html>