<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=ç, initial-scale=1.0">
    <title>Inicio de sesion</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="fondo1"></div>
    <div class="fondo2"></div>
    <form action="" method="">
        <fieldset>
            <label for="usuario">Usuario</label>
            <input type="text" id="usuario" name="usuario">
            <label for="contrasena">Contraseña</label>
            <input type="password" id="contrasena" name="contrasena">
            <a href="">¿Has olvidado tu contraseña?</a>
            <div>
                <img class="google" src="https://www.drupal.org/files/issues/2020-01-26/google_logo.png"
                    alt="Registro con Google">
            </div>
            <p>¿No tienes una cuenta? <a href="">Registrarte aqui</a></p>
        </fieldset>
    </form>
</body>

</html>