@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

body {
    display: flex;
    min-height: 100vh;
}



form {
    margin: auto;
    width: 90%;
    max-width: 400px;
    background: rgba(246, 246, 246, 0.85);
    padding: 4.5em 3em;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%);
}

.img_logo {
    width: 250px;
    justify-self: center;
    border-radius: 50px;
    box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%);
}

.form_container {
    margin-top: 3em;
    display: grid;
    gap: 2.5em;
}

.form_grupo {
    position: relative;
    --color: #5757577e;
}

.form_input {
    width: 100%;
    background: none;
    color: #706c6c;
    font-size: 1rem;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color);
}

.form_input:focus+.form_label,
.form_input:not(:placeholder-shown)+.form_label {
    transform: translateY(-12px) scale(.7);
    transform-origin: left top;
    color: blue;

}

.form_label {
    color: var(--color);
    cursor: pinter;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: transform .5s, color .3s;
}

.form_submit {
    background-color: #3866f2;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 1rem;
    padding: .8em 0;
    border: none;
    border-radius: .5em;
}

.form_line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #386672;
    transform: scale(0);
    transform: left bottom;
    transition: transform .4s;
}

.form_input:focus~.form_line,
.form_input:not(:placeholder-shown)+.form_line {
    transform: scale(1);

}

.form_footer {
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.fondo1 {
    position: absolute;
    z-index: -1;
    width: 40vw;
    height: 40vw;
    background: rgba(255, 229, 94, 1);
    border-radius: 0 0 0 100%;
    top: 0;
    right: 0;
    box-shadow: 0 10px rgba(0, 0, 0, 0.1);
}

.fondo2 {
    position: absolute;
    z-index: -1;
    width: 40vw;
    height: 40vw;
    background: rgba(255, 229, 94, 1);
    border-radius: 0 100% 0 0;
    bottom: 0;
    left: 0;
}